@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital@0;1&family=Zen+Tokyo+Zoo&display=swap');
/* The Primary Color is: #F58A53 
The Secondary Color is: #BEA5E0 

Fonts Families: 
font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Zen Tokyo Zoo', cursive;

I took images from : https://storyset.com/ 
Images' color on storyset: #E99C73
*/

.fadein{
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.bg-grey{
background-color: #dacff3;
}
.bg-blue{
  background-color: #32b7a4;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-row{
  display: flex;
	flex-direction: row;
}

.text-padding{
  padding: 1%;
}

.text-padding-header{
  padding: 3% 2%;
}

.btn-basis{
  padding:10px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  font-family:'DM Serif Display';
}

/* Nice hover from Thiago Marques on CodePen: https://codepen.io/althi/pen/eKdmaa */
.btn-basis:hover{
  background-image:     linear-gradient(
     to right, 
     #E7484F,
     #E7484F 16.65%,
     #F58A53 16.65%,
     #F58A53 33.3%,
     #FCED00 33.3%,
     #FCED00 49.95%,
     #009E4F 49.95%,
     #009E4F 66.6%,
     #00AAC3 66.6%,
     #00AAC3 83.25%,
     #BEA5E0 83.25%,
     #BEA5E0 100%,
     #E7484F 100%

   );
 animation:slidebg 4s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.btn-padding{
  margin: 10px 10px 100px 10px;
}

/* Icons */

.pointing50right{
  width: 50px;
}

.pointing50down{
  width: 50px;
  transform: rotate(90deg)
}

.img20pc{
  width: 20%;
}

.img30pc{
  width: 30%;
}

/************ Contact Component ****************/
.flex-row-contact{
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  width: 100%;
}

.box-personal-details{
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	flex-wrap: wrap;
  align-items:stretch;

}

.box-personal-details div{
  margin: 1%;
}

/********** Page Personal Background **********/
.header-background-page{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-cv{
  min-width: 30%;
}


/********** Timeline Component ***************/
.align-text-left{
  text-align: left;
}

.align-text-right{
  text-align: left;
}

/********** Home Page ***************/
.home-row-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2% 1%;
  min-height: calc(100vh - 90px);
}

/* Footer */

footer{
  color: grey;
}

/******************************* SKILLS BOX ************************************/

.box-skills{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  /* max-width: 80rem; */
}

.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.col {
  /* width: calc(25% - 2rem); */
  cursor: pointer;
  width: 80%;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background: #ffffff;
  /* box-shadow: 0 4px 8px 0 #b996ff; */
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #ffffff;
}

.back {
  background: #b996ff;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: #32b7a4;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  font-size: 1.1rem;
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: white;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

/* .front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
} */

/* @media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
} */

progress {
  border: none;
  width: 150px;
  height: 10px;
  background: #86786a;
}

progress {
  color: white;
}

progress::-webkit-progress-value {
  background: white;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #ffffff;
}

progress::-webkit-progress-bar {
  background: lightgrey;
}

.skills-progress{
  text-align: right;
 margin : auto;
}

.skills-progress label {
  margin-right: 5%;
  font-size: 1rem;
}

.skills-progress progress {
  width: 40%;
}

.inner p{
  color: white;
}


/* ARROW  */

body{
  margin: 0;
  padding: 0;
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
}

.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #ec5136;
    border-right: 5px solid #ec5136;
    margin: -10px;
    animation: animate 3s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.right{
  transform: rotate(-90deg);
  padding: 10%;
}